* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

:root {
  --mainColor: #7b5244;
  --subColor: #333; }

body {
  height: 1500px;
  font-family: 'PT Sans', sans-serif; }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
a {
  text-decoration: none;
  cursor: pointer; }

.container {
  width: 90%;
  margin: auto; }

/* Header */
header {
  padding: 30px 0;
  width: 100%;
  /* Drop Down */ }
  header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 600px) {
      header .header-content {
        flex-direction: column; }
        header .header-content img {
          margin: 10px 0; } }
    header .header-content img {
      flex: 1; }
    header .header-content .navbar {
      flex: 3;
      margin: 10px 0; }
      header .header-content .navbar ul {
        display: flex;
        justify-content: center; }
        header .header-content .navbar ul li .link-item {
          color: var(--subColor);
          padding: 10px 20px;
          font-weight: bold;
          position: relative; }
        header .header-content .navbar ul li .link-item::before {
          content: "";
          position: absolute;
          border-width: 0 2px;
          border-color: var(--mainColor);
          border-style: solid;
          width: 97%;
          height: 100%;
          top: 0;
          left: 0;
          transition: transform .2s;
          transform: scaleY(0); }
        header .header-content .navbar ul li .link-item:hover:before {
          transform: scaleY(1); }
        header .header-content .navbar ul li .link-item::after {
          content: "";
          position: absolute;
          border-width: 2px 0;
          border-color: var(--mainColor);
          border-style: solid;
          width: 99%;
          height: 91%;
          top: 0;
          left: 0;
          transform-origin: left;
          transform: scaleX(0); }
        header .header-content .navbar ul li .link-item:hover::after {
          transition: transform .5s;
          transform: scaleX(1); }
    header .header-content .login {
      flex: 1; }
      header .header-content .login ul {
        display: flex; }
        header .header-content .login ul li {
          color: var(--subColor);
          padding: 10px; }
          header .header-content .login ul li i {
            font-size: 1.9rem; }
            @media (max-width: 767px) {
              header .header-content .login ul li i {
                font-size: 1.6rem;
                margin: 10px 0; } }
          header .header-content .login ul li:last-child i {
            position: relative; }
            header .header-content .login ul li:last-child i::after {
              position: absolute;
              content: '0';
              background: var(--mainColor);
              color: #fff;
              bottom: 20px;
              right: -8px;
              padding: 4px;
              border-radius: 50%;
              font-size: 13px; }
  header .dropdown {
    position: relative; }
  header .dropdown-menu {
    z-index: 1;
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid var(--mainColor);
    padding: 5px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all .5s; }
    header .dropdown-menu .list-unstyled {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding: 10px; }
      header .dropdown-menu .list-unstyled li {
        margin: 5px 0; }
        header .dropdown-menu .list-unstyled li:first-child {
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(70, 69, 69, 0.2); }
        header .dropdown-menu .list-unstyled li a {
          color: var(--subColor); }

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible; }

/* slider */
.hide {
  display: none; }

.show {
  display: block; }

.showcase img {
  width: 100%;
  height: 100%; }

.showcase #slider {
  position: relative;
  top: 0;
  left: 0; }

.showcase .img1 {
  position: absolute;
  top: 0;
  left: 0; }

.showcase .img2 {
  width: 100%;
  height: 480px;
  position: relative;
  left: 0;
  top: 0; }

@media (max-width: 767px) {
  .showcase .font-dots {
    display: none; } }

@media (min-width: 768px) and (max-width: 979px) {
  .showcase .font-dots {
    display: none; } }

.showcase .font-dots i {
  position: absolute;
  right: 50%;
  bottom: 12%;
  cursor: pointer;
  font-size: 15px;
  transition: all .3s;
  color: var(--subColor);
  border: 2px solid #fff;
  border-radius: 50%; }
  .showcase .font-dots i:first-child {
    margin: 0 30px; }
  .showcase .font-dots i:hover {
    color: #fff;
    border: 2px solid #333; }

/* Category-Section */
.section-padding {
  padding: 40px 0; }

.section-header {
  text-align: center;
  width: 400px;
  margin: auto; }
  .section-header .section-title {
    font-size: 30px;
    margin-bottom: 10px; }
  .section-header .line {
    display: block;
    margin: auto;
    width: 100px;
    height: 2px;
    background-color: var(--subColor);
    transition: width .5s; }
  .section-header:hover .line {
    width: 170px; }

/* Category-items */
.category-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px 0; }
  @media (max-width: 767px) {
    .category-items {
      grid-template-columns: auto;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .category-items {
      font: 20px; } }
  .category-items .category-item {
    position: relative; }
    .category-items .category-item img {
      width: 100%;
      margin-bottom: 25px;
      transition: all .5s; }
      .category-items .category-item img:hover {
        transform: scale(1.05); }
    .category-items .category-item .category-item-subtitle {
      color: gray;
      font-weight: normal;
      margin-bottom: 10px; }
    .category-items .category-item .icon {
      width: 30px;
      height: 30px;
      background-color: var(--mainColor);
      color: #fff;
      margin-top: 10px;
      text-align: center;
      display: block;
      line-height: 30px;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .5s; }
      .category-items .category-item .icon:hover {
        background-color: #000; }
    .category-items .category-item:hover .icon {
      visibility: visible;
      opacity: 1; }

/* Discount */
.line {
  display: block;
  margin: auto;
  width: 100px;
  height: 2px;
  background-color: var(--subColor);
  transition: width .5s; }
  .line:hover .line {
    width: 170px; }

.discount {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .discount {
      flex-direction: column; }
      .discount .discount-description {
        flex: 1; }
      .discount .discount-item {
        display: none; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .discount .discount-description {
      align-items: flex-start; } }
  .discount .discount-description {
    flex: 2;
    background-color: #f7f3ef;
    padding: 20px;
    position: relative; }
    .discount .discount-description .top {
      position: relative;
      padding-left: 60px;
      margin: 20px 0 20px 30px; }
      .discount .discount-description .top .icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 50px;
        color: var(--mainColor); }
    .discount .discount-description p {
      line-height: 2; }
    .discount .discount-description .bolletes {
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 20px; }
      .discount .discount-description .bolletes span {
        width: 60px;
        height: 1px;
        background-color: var(--subColor);
        display: inline-block;
        padding: 2px;
        opacity: .5;
        cursor: pointer; }
        .discount .discount-description .bolletes span:hover {
          opacity: 1; }
  .discount .discount-item {
    height: 300px;
    flex: 1; }
  .discount .discount-item:nth-child(2) {
    position: relative;
    background-image: url("../images/cms-banner-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px; }
  .discount .discount-item:nth-child(3) {
    position: relative;
    background-image: url("../images/cms-banner-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px; }
  .discount .discount-item {
    cursor: pointer;
    transition: all .5s; }
    .discount .discount-item:hover {
      transform: scale(1.05); }
    .discount .discount-item .discount-item-info {
      position: absolute;
      top: 30px;
      left: 30px; }
      .discount .discount-item .discount-item-info h3:first-child {
        color: gray;
        font-size: 18px; }
      .discount .discount-item .discount-item-info h3:nth-child(2) {
        font-size: 22px;
        color: var(--mainColor); }

/* Sprites*/
.sprites {
  display: flex;
  margin: 50px 0; }
  @media (max-width: 767px) {
    .sprites {
      display: grid;
      grid-template-columns: auto;
      font-size: 10px; } }
  .sprites .sprite-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid rgba(161, 158, 158, 0.4); }
    @media (max-width: 767px) {
      .sprites .sprite-item {
        margin: 10px 0; } }
    .sprites .sprite-item:last-child {
      border-right: none; }
    .sprites .sprite-item .sprite-info h3 {
      font-size: 17px; }
    .sprites .sprite-item .sprite-info span {
      color: gray;
      font-size: 15px; }
    .sprites .sprite-item .sprite-icon {
      background-image: url(../images/service-icon.png);
      height: 55px;
      background-repeat: no-repeat; }
    .sprites .sprite-item .sprite-icon-1 {
      background-position: center 5px;
      transition: all .8s; }
      .sprites .sprite-item .sprite-icon-1:hover {
        background-position: center -85px; }
    .sprites .sprite-item .sprite-icon-2 {
      background-position: center -180px;
      transition: all .8s; }
      .sprites .sprite-item .sprite-icon-2:hover {
        background-position: center -270px; }
    .sprites .sprite-item .sprite-icon-3 {
      background-position: center -366px;
      transition: all .8s; }
      .sprites .sprite-item .sprite-icon-3:hover {
        background-position: center -455px; }
    .sprites .sprite-item .sprite-icon-4 {
      background-position: center -549px;
      transition: all .8s; }
      .sprites .sprite-item .sprite-icon-4:hover {
        background-position: center -640px; }
    .sprites .sprite-item .sprite-icon-5 {
      background-position: center -734px;
      transition: all .8s; }
      .sprites .sprite-item .sprite-icon-5:hover {
        background-position: center -828px; }

/* Products */
.products .list-products {
  display: flex;
  justify-content: center; }
  .products .list-products li {
    margin: 10px 20px;
    font-weight: bold; }

.products .products-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px 0; }
  @media (max-width: 767px) {
    .products .products-items {
      grid-template-columns: auto; } }
  .products .products-items .product-item .product-img {
    position: relative;
    cursor: pointer; }
    .products .products-items .product-item .product-img img {
      width: 100%; }
    .products .products-items .product-item .product-img .product-overlay {
      position: absolute;
      top: 0;
      left: 0;
      transition: transform .5s;
      transform: scaleX(0);
      opacity: .8; }
      .products .products-items .product-item .product-img .product-overlay ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .products .products-items .product-item .product-img .product-overlay ul li {
          margin: 0 2px;
          width: 40px;
          height: 40px;
          display: inline-block;
          background-color: var(--mainColor);
          text-align: center; }
          .products .products-items .product-item .product-img .product-overlay ul li i {
            color: #fff;
            line-height: 40px; }
  .products .products-items .product-item:hover .product-overlay {
    transform: scaleX(1); }
  .products .products-items .product-item .product-info i.active {
    color: #ff9204; }
  .products .products-items .product-item .product-info span {
    display: block; }

footer img {
  border: 1px solid #fff; }

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 70px;
  background-color: #000;
  color: #fff; }
  @media (max-width: 767px) {
    footer .footer-content {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footer-content div {
        margin: 20px 0; } }
  footer .footer-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-content div h4 {
      font-size: 20px;
      margin-bottom: 10px; }
    footer .footer-content div:first-child a, footer .footer-content div:nth-of-type(2) a {
      margin-bottom: 5px; }
      footer .footer-content div:first-child a:hover, footer .footer-content div:nth-of-type(2) a:hover {
        font-weight: bold; }
    footer .footer-content div:last-child .download img {
      display: block;
      margin-bottom: 30px; }
